<p id="notice"><%= notice %></p>

<h2><%= @user.username %></h2>

<% if @user.ratings.empty? %>
    <p>No ratings yet!</p>
<% else %>
    <p>Has made <%= pluralize(@user.ratings.count, "rating") %>, average <%= @user.average_rating %></p>

    <p>Favorite style: <%= @user.favorite_style %></p>
    <p>Favorite brewery: <%= @user.favorite_brewery.name %></p>

    <h2>Ratings</h2>
    <ul>
      <% @user.ratings.each do |rating| %>
          <li>
            <%= rating %>
            <% if @user == current_user %>
                <%= link_to 'Delete', rating, method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>
          </li>
      <% end %>
    </ul>
<% end %>

<% if @user == current_user %>
  <tr>
    <td><%= link_to 'Edit', edit_user_path %></td>
    <td><%= link_to 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% else %>
<% end %>