
<h2><%= @user.username %>
  <% if @user.banned %>
      <span class="label label-info">Account frozen</span>
  <% end %>
</h2>

<h3>Beer clubs</h3>
<% if @user.beer_clubs.empty? %>
    <p>No Beer club memberships</p>
<% else %>
    <b>Member of</b>
    <ul>
      <% @user.confirmed_memberships.each do |membership| %>
      <li><%= link_to membership.beer_club.name, membership.beer_club %></li>
      <% end %>
    </ul>
<% end %>
<% if !@user.unconfirmed_memberships.empty? %>
    <b>Applied membership of</b>
    <ul>
      <% @user.unconfirmed_memberships.each do |membership| %>
          <li><%= link_to membership.beer_club.name, membership.beer_club %></li>
      <% end %>
    </ul>
<% end %>

<% if @user.ratings.empty? %>
    <p>No ratings yet!</p>
<% else %>
    <p>Favorite beer: <%= @user.favorite_beer.name %></p>
    <p>Favorite style: <%= @user.favorite_style.name %></p>
    <p>Favorite brewery: <%= @user.favorite_brewery.name %></p>

    <h2>Ratings</h2>
    <p>Has made <%= pluralize(@user.ratings.count, "rating") %>, average <%= round(@user.average_rating) %></p>
    <ul>
      <% @user.ratings.each do |rating| %>
          <li>
            <%= rating %>
            <% if @user == current_user %>
                <%= link_to 'Delete', rating, method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>
          </li>
      <% end %>
    </ul>
<% end %>

<% if admin_user %>
    <% text = @user.banned ? 'Reactivate account' : 'Freeze account' %>
    <%= link_to text, toggle_ban_user_path(@user.id), method: :post, class: "btn btn-danger"   %>
<% end %>

<% if @user == current_user %>
  <tr>
    <td><%= link_to 'Edit', edit_user_path, class:'btn btn-primary' %></td>
    <td><%= link_to 'Destroy', @user, class:'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>